.lee {
    width: 20%;
    

    .left-block {
        background: #363740;
        height: 100vh;
        // width: 20%;
        position: fixed;
        .logo-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 18px 24px;
            .logo-text {
                text-decoration: none;
                font-style: normal;
                font-weight: bold;
                font-size: 19px;
                line-height: 24px;
                letter-spacing: 0.4px;
                color: #A4A6B3;
                opacity: 0.7;
            }
            img {
                margin-right: 10px;
            }
        }
        
    }
}

.links {
    text-decoration: none;
}