.section-3 {
    width: 45%;

    .div3 {
        background: #FFFFFF;
        border: 1px solid #DFE0EB;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
    
        .bottom {
            display: flex;
            align-items: center;
        }
        
    }
}