.section3-rightBlock {
    width: 45%;

    .section3-inner {
        background: #FFFFFF;
        border: 1px solid #DFE0EB;
        box-sizing: border-box;
        border-radius: 8px;
        width: 100%;
    }
}