.creat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 18px 32px;

    .creat-left {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #C5C7CD;
    }


}